body, input, button {
    font-family: system-ui, sans-serif;
    font-size: 12px;
}

#inout {
    display: flex;
}
#input, #output {
    flex: 1;
    max-height: 80vh;
    overflow: scroll;
    margin: 2em;
}

input[type=number] {
    max-width: 50px;
}
